[run]
branch = true

[report]
exclude_lines =
    \.\.\.
    pass
    if TYPE_CHECKING:
    ImportError
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
